@using MasterChef.Domain.Models
@model List<Receita>

<h4>Receitas</h4><br/>

<div>
    <a class="btn btn-primary" asp-controller="receita" asp-action="create">Novo</a>
</div>

<br/>

<table class="table">
   
    @foreach (var receita in Model)
    {
        <tr>
         
            <td>
              <a asp-action="detail" asp-controller="receita" asp-route-id="@receita.Id">@Html.Raw(receita.Titulo)</a>
            </td>

            <td>

               <img src="@receita.Imagem" width="100px">
            </td>
            
            <td>
                <a asp-action="edit" asp-controller="receita" asp-route-id="@receita.Id" class="btn btn-secondary">Editar</a>
            </td>

            <td>
                <form asp-action="delete" asp-controller="receita" asp-route-id="@receita.Id" method="post">
                    <button type="submit" class="btn btn-danger"> Remover </button>
                </form>
            </td>

        </tr>
    }
</table>