@using MasterChef.Domain.Models
@model List<Categoria>

<h4>Categorias</h4><br/>
<div>
    <a class="btn btn-primary" asp-controller="categoria" asp-action="Create">Novo</a>
</div>
<br/>

<table class="table">
   
    @foreach (var categoria in Model)
    {
        <tr>
         
            <td>
              <a asp-action="listrecipes" asp-controller="categoria" asp-route-id="@categoria.Id">@Html.Raw(categoria.Titulo)</a>
            </td>

            <td>@categoria.Descricao</td>
            
            <td>
                <a asp-action="edit" asp-controller="categoria" asp-route-id="@categoria.Id" class="btn btn-secondary">Editar</a>
            </td>

            <td>
                <form asp-action="delete" asp-controller="categoria" asp-route-id="@categoria.Id" method="post">
                    <button type="submit" class="btn btn-danger"> Remover </button>
                </form>
            </td>

        </tr>
    }
</table>